@import url(style.css);

.grid-explicita{
    display: grid;
    /*grid de 3 columnas x 3 filas*/
    grid-template-columns: 85px 160px 30%;
    grid-template-rows: 200px 100px 1fr;
    /*grid 5 columnas + 4 filas*/
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(5, 20%);
    grid-template-columns: 20% repeat(2, 30%) 20%;
    grid-template-rows: repeat(3, 30%) repeat(2, 20%);
    /*gap: 10px 20px;
    gap: 10px;*/

}